﻿.ms-dlgTitleText
{
	display:none;
}
#s4-ribbonrow
{
	display:none;
}
.ms-cui-tabBody{
	display:none;
}
.ms-cui-tabContainer{
	display:none;
}

#s4-ribbonrow{
	display:none;
}
#TopNavigation{
	display:none;
}

#suiteBarLeft{
	display:none;
}
.ms-designer-ribbon{
	display:none;
}

.ms-core-listMenu-verticalBox{
	display:none;
}

#contentBox{
	margin-left:0px;
}
#suiteBar{
	display:none;
}

