﻿
#titleAreaBox {
    margin: 0px;
}
#DeltaSuiteLinks
{
	display:none;
}
#Ribbon\.Documents\.New\.AddDocument-Large, #Ribbon\.Documents\.Share\.ShareItem-Large
{
/*display:none;*/
}
#Ribbon\.Documents\.New\.NewDocument-Large
{
	display:none!important;
}
/*******general*****/
body{
	font-family: "Roboto"!important;font-size:12pt!important;font-weight:normal!important;
}
#suiteBarLeft    {
        background:#3B4F65!important;
    }
#s4-bodyContainer
		{
	width:90%!important;
	margin:auto;
}
.hrDoc
{
	color:#DDDDDD;background:#DDDDDD;height:4px;border:0px;
	margin-bottom:15px;
}
/*********search******/
/****search***/
.styled-select {
  /* width: 240px;*/
   /*height: 34px;*/
   overflow: hidden;
   /*background: url(/images/Icon-DownArrow.png) no-repeat right white!important;*/
  /** border: 1px solid #ccc;*/
  display:table-cell;
   }
.styled-select select {
   background: transparent;
  /* width: 268px;*/
  	/*padding-top: 5px;*/
  margin-top:0;
   border: 0;
   border-radius: 0;
   /*height: 34px;*/
   -webkit-appearance: none;
   }
.ms-srchnav-list
{
	font-size: 8.5px;
vertical-align: middle;

}
#ctl00_PlaceHolderSearchArea_g_81e90696_f647_491d_8355_964c2757a26a_SRCHNAV
{
	margin-top:5px;
}
#searchInputBox

{
	margin-top:15px;
	float:left;
	margin-left:50px;
	display: table;
	width:550px;
}
#SearchBox
{
	/*margin-right:20px;*/
}
#LexisNexisOuterSearchBox
{
 display:table-cell;
 margin-left:30px;

}
#LexisNexisInnerSearchBox
{
	 display:table;
}
#LexisDropDown
{
	display:table-cell;
}
#companyRadio,#tickerRadio
{ font-family:"Roboto"!important;
font-size:12px!important;
vertical-align:top;
color:#777;
}
#lxselect
{
	margin-right:10px;
}
#searchImg
{
	vertical-align: top;
}
#LexisEnterText
{
border: 2px solid #2CB6C0;
float:left;	
}
#searchkey
{
	border:0;
	height:19px;
}

#ctl00_PlaceHolderSearchArea_SmallSearchInputBox1_csr_sboxdiv
{	width: 350px;
	border: 2px solid #2CB6C0;
	margin-right:15px;
	/*position: absolute;
	left: 300px;*/	
}
#ctl00_PlaceHolderSearchArea_SmallSearchInputBox1_csr_sbox
{
	width:80%;
}
h2, h3, .ms-h2, .ms-h3, .ms-headerFont {
    font-family: "Roboto";
}
.ms-srchnav-link {
    font-size: 13pt;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item {
    color: #222 !important;
    font-size: 11pt !important;
    font-family: "Roboto" !important;
}
h2, h3, .ms-h2, .ms-h3, .ms-headerFont {
    font-family: "Roboto"!important;
}
/*******system pages UI*********/
.ms-breadcrumb-box 
{
	height:30px;
}
.ms-core-pageTitle a
{
	font-size:22pt!important; font-weight:100;
	width:100%;
	font-family: "Roboto"!important;
	color:#3A4D64;
}
.ms-core-pageTitle
{
	font-size:22px;
}
/*****libray view***/
.ms-listlink
{
	color:#777777!important;
	font-size:13pt
}

.ms-subtleLink
{
	color:#777777!important;
	font-size:13pt!important;
}
.ms-vb-lastCell
{
	color:#777777;
	font-size:13pt;
}

.ms-vhltr
{
	color:#3A4D64!important;
	font-size:12pt!important;
}

/*metadataform*/
input[type=button], input[type=reset], input[type=submit], button
{
	background-color:#3A4D64;
	color:#ffffff;
	font-size:13pt;
	border-color:#dfdfdf;
	font-family:"Roboto";
}
input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover, button:hover
{
	
	background-color:#6b7a8b!important;
}

input[type="button"][value="Cancel"]
{
	font-size:13pt!important;
	color:#3a4d64;
	background-color:#f1f1f1;
	border-color:#dfdfdf;
	font-family:Roboto;
}

input[type="button"][value="Cancel"]:hover
{
	background-color:#d2d2d2
}

.ms-descriptiontext
{
	 color:#777;
	font-size: 12pt;
	font-family:"Roboto";
}
.ms-formdescription
{
	font-family:"Roboto";
}

input[type=password], input[type=text], input[type=file], select, textarea, .sp-peoplepicker-topLevel, .sp-peoplepicker-topLevelDisabled, .sp-peoplepicker-autoFillContainer, .ms-inputBox
{
	border-color:#f1f1f1;
	font-size:11pt;
	font-family:"Roboto";

}

.ms-dlgContent
{
	border-color:#717171;
	color:#222222;
}

.ms-dlg-heading
{
	font-size:22pt;
	font-family:"Roboto";
}
.ms-standardheader
{
color:#222222;
font-size:15pt;
font-family:"Roboto";
}
/*metadataform ends*/
.ms-cellstyle
{
	color:#777777!important;
	font-size:13pt!important;
}

#DeltaBreadcrumbDropdown
{
	   font-family: "Roboto"!important;
        font-size: 12px;
        color:#868686!important;
        font-weight: bold; 
}
/********left nav********/
.ms-core-listMenu-verticalBox
{
	background:#ECEDF1;
	/*font-weight:bold;*/
	border-bottom:3px #C7C7C7 solid;
	font-family:"Roboto"!important;
	font-size:13px!important;
	color:#48494B!important;
	
}
div.ms-core-listMenu-verticalBox > a{
	display:none!important;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item,.ms-core-listMenu-verticalBox li.static > ul.static > li.static > .ms-core-listMenu-item
{
	color:#48494B!important;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected,.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected:hover
{
	background:#DDD;/**#B9BBBE;**/
	border-left:5px #EA8525 solid;
}
/****Top navigation main div******/
#TopNavigationSuiteBar
{
	display:table;
	width:100%;
}
#TopNavigation
{
    list-style: none!important;
    position:relative;
    font-family: "Roboto"!important; 
    font-size:12px;
    /*height: 30px;*/
    clear:both;
    /*display:table-cell;*/

}

    /*****div that contains header name and alink for header****/

    /****ulHeadNav:- outer most div: that displays name of the header***/
    .divHeadNav
    {
       font-family: "Roboto"!important;
       font-size: 11pt!important;
	  /* padding:9px 14px;*/
	   padding:10px;
	   /*font-weight:bold;*/
	   color:#FFFFFF!important; 
	   display:inline-block;
	   text-decoration:none!important;
       list-style:none; 
       float:left;
       margin-top: 4px;

    }
    .divHeadNav:hover .divCategoryNav
    {
	    border-top:4px #FA820E solid;	
 	    display:block;
 	    cursor:default;
    }
    .divHeadNav:hover .divCategoryNav:empty{
	    display:none;
    }
    .divHeadNav:hover .aHeaderName
    {	
     background-color:#EA8525!important;
     color:white;
    }

   
    .aHeaderName
    {
	    color:#FFFFFF!important;
	    text-decoration:none;
	    text-transform:uppercase;
		font-family: 
        font-size:12px;
        /*padding: 5px;*/
        padding:9px 6px;
        cursor:pointer;
    }

	.OuterDivCategoryNav
	{
		/*overflow: hidden!important;*/
		width: 100% !important;		
		border-left: 1px solid #777;
		border-right:1px solid #777777;
	}
	.InnerDivCategoryNav
	{
		width:100%;
		overflow:auto!important;
		height:450px;
		border-top:3px solid #FA820E;
		padding-right: 20px!important;
		padding-bottom: 15px!important;
	}


     /*****div that contains HOME  and alink for HOME****/
    .Home
    {

        font-family: "Roboto"!important;
        font-size: 10pt!important;
	    /*padding:9px 14px;*/
	    padding:10px;
	    /*font-weight:bold;*/
	    color:#DEE9F5; 
	    display:inline-block;
	    text-decoration:none!important;
        list-style:none; 
        float:left;
        /*margin-top:5px;*/
        margin-top:4px;
        padding-left: 0px;

    }
    .aHomeLink
    {
        color:#DEE9F5;
	    text-decoration:none;
	    text-transform:uppercase;
		font-family: "Roboto"!important;
        font-size:11pt;
        /*padding: 5px;*/
        padding:9px 6px;
    }


    .Home:hover .aHomeLink
    {	
     background-color:#EA8525!important;
    }

    /*******div that contains navigation links, visible when you hover on divHeadNav************/
   .divCategoryNav
    {
        display:none;
        font-family: "Roboto"!important;
        font-size: 13px;
        position:absolute;
        top:29px;
	    float:left;
	    text-align:left;
	    /*padding:20px;*/	    
	    z-index: 999 !important;
	    background:#f1f1f1;
        clear:both;
	    width:105%!important; /**overflow:visible;**/
	    left: 20px;	    
	    margin-left:0;
	    border-top: 17px solid rgb(241, 241, 241)!important;	    
	    border-bottom: 1px solid #777 !important;
    }
   .divCategoryNav:empty
   {
	    display:none;
    }


   /***************Category *******************/
	#TopNavigation a
	{
	text-decoration:none;
	}
   #TopNavigation a.aHeaderName:hover,#TopNavigation a.aHeaderName:active,#TopNavigation a.aHeaderName:visited{
	    text-decoration:none!important;
	    color:#FFFFFF;
    }
    #TopNavigation a.aHomeLink:hover,#TopNavigation a.aHomeLink:active,#TopNavigation a.aHomeLink:visited{
	    text-decoration:none!important;
	    color:#FFFFFF;
    }

  #TopNavigation a.divHeadNav,#TopNavigation a.aHomeLink{color:#FFFFFF;}

    .ulCategoryNav
    {
	       
	    padding-left: 9px;
       /* padding: 0px 0px 10px 0px !important;*/	    
	    /*margin:0 30px 0 0;*/
	   /* padding: 14px!important;*/
		width: 18%;
		margin: 0;		
        list-style:none;
        display:inline-block;
		vertical-align:top
    }
  .MusicandEntertainment .ulCategoryNav
	{
		padding-left: 9px;
	    width:15%;
        list-style:none;        
		margin: 0;
		
		
	}

    .aCategoryNav
    {        
        text-transform:uppercase;
	   font-family: "Roboto"!important;
        font-size: 11pt!important;
        color:#777777!important;
        font-weight: bold; 
        margin-bottom:25px;
		line-height: normal;
		max-width: 207px;
		min-width: 100%;
    }
.aCategoryNav a,.aCategoryNav a:visited
    {
      color:#868686!important;

    }

    .LinknameLI
    {	    
        color:#3A4D64!important;
	    font-family: "Roboto"!important;
        font-size:11pt!important;
        font-weight:normal;

    }
    .LinknameLI:hover,.aResources:hover,.aBannerLinks:hover
    {
        color:#EA8525!important;
    }
    /*.liLinkNav:hover 
    {
	    background: #F4F4F4;
    }*/
     .liLinkNav
     {
        margin-bottom: 10px;
		line-height: 16px;
		max-width: 110px;
		min-width: 100%;
		/* word-wrap: break-word; */
		max-height: 34px;
     }

   
    .triangle 
    {
        width: 0; 
	    height: 0; 
	    border-left: 3px solid transparent;
	    border-right: 3px solid transparent;
	
	    border-top: 3px solid #DEE9F5;
	    position: absolute;
        margin-top: 5px;
    }

/*************links resources bookmarks************/
    /***dialog box z-index 1504****/
    #bannerLinksDiv
    {
         top:40px;
        margin-left:10px;
	   background: white;
        right:0;
	    width:850px;
	    position:absolute;
	    clear:both;
	    border-top:3px solid #EA8525;
	    max-width:850px!important;
	    z-index:999;
        font-size: 12px;
	    text-align:left;
	    /***padding:10px 5px 10px 10px;***/
	    padding:20px;
        font-family: "Roboto"!important;
	    text-align:left;
	    border:1px #ddd solid;
	    border-top:3px solid #EA8525;

    }
    #bannerResourcesDiv
    {
         top:40px;
	    /*background: #ECEDF1;*/
	    background: white;
        right:0;
	    width:auto;
	    position:absolute;
	    clear:both;
	    border-top:3px solid #EA8525;
	    z-index:9999999999;
        font-size: 13px;
	    text-align:left;
	    padding:20px;
        font-family: "Roboto"!important;
	    text-align:left;
	     border:1px #ddd solid;
	    border-top:3px solid #EA8525;

    }
    #bannerResources
    {
	padding-top:10px;
}
    #bannerLinks
    {
	    width:65%;
        float:left;
        border-right:1px #ddd solid;
        margin-right:20px;
    }
     #bannerBookmarks
     {

	    float:left;
	   width:30%;
    }
    .LinkSpan
    {
         color:#FFFFFF;
         text-decoration:none;    
         /*font-weight:bold;*/
         font-weight:normal;
         font-size:11pt!important;
         cursor:pointer;
         text-transform:uppercase;
	     font-family: "Roboto"!important;
         padding: 9px 6px;
    }
    #links-container:hover a#LinkSpan{
    color:black;
    }
    #links-container:hover .LinkSpan,#resources-container:hover .LinkSpan
    {
	  background-color:#6A7B8B!important;
    }

    #links-container
    {
	    list-style: none!important;
	    position:relative;
        float:right;
        font-family: "Roboto"!important;
        font-size: 12px;
	    padding:9px 14px;
	    font-weight:bold;
	    /***color:#DEE9F5; ***/
	    text-decoration:none!important;
        list-style:none; 
        margin-top: 5px;
        
    }
    .ulBannerLinks,.ulRecources
    {
        padding-left: 9px;
        padding: 0px 0px 10px 0px !important;
	    float:left;
	    width:auto;
	    margin:0 10px 10px 0;
        list-style:none;

        /*list-style:none;width:auto;float:left;padding:8px;margin:0----for ulRecources**/
    }
    .ulBannerLinks
    {
	margin-right:30px;
}
    .pUlBannerLink
    {
        text-transform:uppercase;
	   font-family: "Roboto"!important;
        font-size: 12px;
        color:#868686!important;
        font-weight: bold; 
        margin-bottom:25px;

    /* color:#EA8525!important;padding:0 0 10px 0;margin:0!important;text-transform:uppercase;font-weight:bold;**/       
    }


    #resources-container
    {
        list-style: none!important;
	    position:relative;
        float:right;
        font-family: "Roboto"!important;
        font-size: 12px;
	    padding:10px;
	    font-weight:bold;
	    color:#DEE9F5; 
	    text-decoration:none!important;
        width:auto;
        margin-top: 4px;
    }
    #support-container
    {

	    position:relative;
        float:right;
        font-family: "Roboto"!important;
        font-size: 12pt;
	    padding:10px 3px 10px 10px;
	    /*font-weight:bold;*/
	    color:#ccccff; 
	    text-decoration:none!important;
        width:auto;
        margin-top: 5px;
    }
     #support-container a
    {
         color:#ccccff;
         text-decoration:none;    
        /* font-weight:bold;*/
         font-size:11pt!important;
         cursor:pointer;
         text-transform:uppercase;
	     font-family: "Roboto"!important;
         padding: 5px;
         background-color:#6A7B8B;
    }
      #support-container a:hover
      {
          color:#ea8525;
      }
    .liBannerLinks
    { 
      margin-bottom:20px;   
    }
    .liResources
    {padding-bottom:20px;
     white-space:nowrap;
      font-size:12pt;
    }
    
    .aBannerLinks,.aResources{
        color:#536173!important;
	    font-family: "Roboto"!important;
        font-size:12pt;
        font-weight:normal;
        }
    .BannerLinkUL
    {padding-bottom:12px;}

    .aBannerLinks:hover .aBannerLinks
    {
        color:silver;
    }
    /****support tab****/
    .supportTabSpan
     {
        display: inline-block;
        position: relative;
        height: 30px;
        line-height: 30px;
        padding: 0px 7px 0px 11px;
        border-right: 1px solid transparent;
        background-clip: padding-box;
    }
    /****bookmarks******/
    .DivBookmarkGroup
    {
	 margin-bottom:5px;
	 padding:2px;
	}
	.liBookmarkGroup:hover
	{
	 background:#f7f7f7;
	}
    .ulBookmarHead
    {
       padding-left: 9px;
        padding: 0px 0px 10px 0px !important;
	    float:left;
	    width:auto;
	    margin:0 10px 10px 0;
        list-style:none;

        /*list-style:none;width:auto;float:left;padding:8px;margin:0**/
    }
    .pBookmarkHead
    {
        text-transform:uppercase;
	    font-family: "Roboto"!important;
        font-size: 12px;
        color: #868686 !important;
        font-weight: bold; 
        margin-bottom:20px;

    /*padding:0 0 5px 0!important;margin:0!important**/
    }
         
   
    .liAddBookmark
    {
	 margin-bottom:5px;
        font-weight:normal;
        clear:both;
        color:#696969!important;
	    font-family: "Roboto"!important;
        font-size:12px;
    }
  .aAddBookmark
  {
    cursor:pointer;
    color:#198FAF!important;
    font-weight:normal;
    margin-bottom:20px;
  }
  .aBookmarkGroup
  {
	cursor:pointer;font-size:12px;color:#536173;
	font-weight:normal;
	font-family:"Roboto";
}
 #BookmarHead li a
    {
         cursor:pointer;
    color:#536173;;
    font-weight:normal;

    }
.aBookmarkEdit
{
cursor:pointer;margin-right:10px;	
}
.aBookmarkDelete
{
	
}
  #ms-help
  {
      display:none;
  }

    
  .ms-core-listMenu-verticalBox
{
	background:#ECEDF1;
	/*font-weight:bold;*/
	border-bottom:3px #C7C7C7 solid;
	font-family:"Roboto"!important;
	font-size:13px!important;
	color:#48494B!important;
	
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item,.ms-core-listMenu-verticalBox li.static > ul.static > li.static > .ms-core-listMenu-item
{
	color:#48494B!important;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected,.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected:hover
{
	background:#DDD;/**#B9BBBE;**/
	border-left:5px #EA8525 solid;
}
.ms-core-listMenu-selected
{
background:#DDD!important;/**#B9BBBE;**/
	border-left:5px #EA8525 solid;

	
}
.ms-core-listMenu-item
{
	background:#ECEDF1;
	/*font-weight:bold;*/

	font-family:"Roboto"!important;
	font-size:11pt!important;
	color:#48494B!important;

}
/***BANNER LINKS***/
.mega-dropdown-menu:after {
content: "";
border-bottom: 19px solid #FA820E;
border-right: 21px solid transparent;
border-left: 21px solid transparent;
position: absolute;
top: -19px;

z-index: 8;
}
.mega-dropdown-menu:before {
content: "";
border-bottom: 19px solid #f1f1f1;
border-right: 19px solid transparent;
border-left: 19px solid transparent;
position: absolute;
top: -15px;

z-index: 10;
}

.MusicandEntertainment:after {
    left: 150px;    
}
.MusicandEntertainment:before {
    left: 150px;
}
.Nickelodeon:after {    
    left: 320px;
}
.Nickelodeon:before {
    left: 320px;
}
.International:after {
    left: 450px;
}
.International:before {
    left: 450px;
}
.CorporateReports:after {
    left: 630px;
}
.CorporateReports:before {
    left: 630px;
}

.resourcemega-dropdown-menu:before {
content: "";
border-bottom: 15px solid #FFFFFF;
border-right: 17px solid transparent;
border-left: 17px solid transparent;
position: absolute;
top: -15px;
right: 18px;
z-index: 10;
}


.resourcemega-dropdown-menu:after {
content: "";
border-bottom: 17px solid #EA8525;
border-right: 19px solid transparent;
border-left: 20px solid transparent;
position: absolute;
top: -17px;
right: 16px;
z-index: 8;
}
/****left nav****/
.ms-core-listMenu-verticalBox
{
	background:#EBEDEF;
	/*font-weight:bold;*/
	border-bottom:3px #DDDDDD solid;
	font-family:"Roboto"!important;
	font-size:13px!important;
	color:#EBEDEF!important;
	
}
div.ms-core-listMenu-verticalBox > a{
	display:none!important;
}

.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item
{
	color:#222222!important;
	
    font-size: 11pt !important;
    font-family: "Roboto" !important;
}
.ms-core-listMenu-verticalBox li.static > ul.static > li.static > .ms-core-listMenu-item
{
	color:#444444!important;
	font-size:11pt

}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li.selected  > .ms-core-listMenu-item
{
	background-color:#b9bbbd!important;

}
.ms-core-listMenu-verticalBox li.static > ul.selected  > li.selected  > .ms-core-listMenu-item
{
	background-color:#b9bbbd!important;
}

.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected,.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected:hover
{
	background:#B9BBBD;/**#B9BBBE;**/
	border-left:8px #FA820E solid;
}

.more, .more:visited{
    font-size: 12pt !important;
    color: #008BBB !important;
    font-family: "Roboto" !important;
}