﻿/***************MASTER PAGE COMPONENTS******************/
html, body {height: 100%;}

body{font-family: Verdana!important;font-size:12px!important;font-weight:normal!important;}
.wrap {min-height: 100%;}
#main {overflow:auto;padding-bottom: 180px;}  /* must be same height as the footer */
#box{width:85%!important;margin:auto!important; padding-top:25px;
}
#footer 
{
	position: relative;
	margin-top: -180px; /* negative value of footer height */
	height: 180px;
	clear:both;
} 

/*Opera Fix*/
body:before {
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;
}
#ctl00_PlaceHolderMain_ctl04__ControlWrapper_RichHtmlField p
{
 display:none;
}
/*******home page******/
/*****Top Conetnt Widget****/
.topConetntTabs
{
color: #536173;font-weight: bold;font-family: verdana !important;font-size: 14px!important;	
}

.TopContentFileDate
{
 font-family:Verdana!important;
 font-size:12px;
 color:#939393;
 padding-bottom:2px;
}
.TopContentFileName
{
font-family:Verdana!important;
 font-size:14px;
 color:#444;
  padding-bottom:3px;	
  margin:2px;
}
div#metadata 
{
  display:none;
  min-width: 230px;

}
div.searchContent:hover div#metadata{
    border: #c0c0c0 1px dotted;
    display: block;
    z-index: 100;
    background: white;
    position: absolute;
    top: 120px;
    left:60px;
    text-decoration: none;
    
}
div.searchContent:hover {
    position: relative
}
div#metadata .metadatatitle
{
	float:left;
	clear:both;
}
/***************************************************************************************************************/
/***************************TOP NAVIGATION, BANNER LINKS, BANNER BOOKMARKS, SUPPORT TAB, MS-HELP, SUITEBAR***********/
/****Top navigation main div******/
#TopNavigation
{
    list-style: none!important;
    position:relative;
    font-family: "Verdana"!important; 
    font-size:12px;
    height: 30px;
    clear:both;
}

    /*****div that contains header name and alink for header****/

    /****ulHeadNav:- outer most div: that displays name of the header***/
    .divHeadNav
    {
       font-family: "Verdana"!important;
       font-size: 12px;
	  /* padding:9px 14px;*/
	   padding:10px;
	   font-weight:bold;
	   color:#DEE9F5; 
	   display:inline-block;
	   text-decoration:none!important;
       list-style:none; 
       float:left;
       margin-top: 4px;

    }
    .divHeadNav:hover .divCategoryNav
    {
	    border-top:2px #EA8525 solid;	
 	    display:block;
 	    cursor:default;
    }
    .divHeadNav:hover .divCategoryNav:empty{
	    display:none;
    }
    .divHeadNav:hover .aHeaderName
    {	
     background-color:#EA8525!important;
     color:white;
    }

   
    .aHeaderName
    {
	    color:#DEE9F5;
	    text-decoration:none;
	    text-transform:uppercase;
		font-family: "Verdana"!important;
        font-size:12px;
        /*padding: 5px;*/
        padding:9px 6px;
        cursor:pointer;
    }


     /*****div that contains HOME  and alink for HOME****/
    .Home
    {

        font-family: "Verdana"!important;
        font-size: 12px;
	    /*padding:9px 14px;*/
	    padding:10px;
	    font-weight:bold;
	    color:#DEE9F5; 
	    display:inline-block;
	    text-decoration:none!important;
        list-style:none; 
        float:left;
        /*margin-top:5px;*/
        margin-top:4px;
        padding-left: 0px;

    }
    .aHomeLink
    {
        color:#DEE9F5;
	    text-decoration:none;
	    text-transform:uppercase;
		font-family: "Verdana"!important;
        font-size:12px;
        /*padding: 5px;*/
        padding:9px 6px;
    }


    .Home:hover .aHomeLink
    {	
     background-color:#EA8525!important;
    }

    /*******div that contains navigation links, visible when you hover on divHeadNav************/
   .divCategoryNav
    {
        display:none;
        font-family: "Verdana"!important;
        font-size: 13px;
        position:absolute;
         margin-top:14px;
	    float:left;
	    text-align:left;
	    padding:10px 5px 10px 5px;
	    /**border:1px solid #777777;*/
	    z-index: 999 !important;
	    background:#ECEDF1;
        clear:both;
	    width:auto!important; /**overflow:visible;**/
	    border-top:3px solid #EA8525;
        background: #ECEDF1;
    }
   .divCategoryNav:empty
   {
	    display:none;
    }


   /***************Category *******************/
   #TopNavigation a:hover,#TopNavigation a:active,#TopNavigation a:visited{
	    text-decoration:none!important;
    }
  #TopNavigation a{color:#DEE9F5;}

    .ulCategoryNav
    {
	    padding-left: 9px;
        padding: 0px 0px 10px 0px !important;
	    float:left;
	    width:auto;
	    margin:0 10px 10px 0;
    }
  
    .aCategoryNav
    {
	    text-transform:uppercase;
	    font-family: "Verdana"!important;
        font-size: 13px;
        color: #ea8525 !important;
        font-weight: bold; 
        padding-bottom:10px;
    }

    .LinknameLI
    {
	    color:#696969!important;
	    font-family: "Verdana"!important;
        font-size:13px;
        color:#696969!important;font-weight:normal
    }
    .LinknameLI:hover
    {
        color:grey;
    }
    /*.liLinkNav:hover 
    {
	    background: #F4F4F4;
    }*/
     .liLinkNav
     {
        padding-bottom:15px;
     }

   
    .triangle 
    {
        width: 0; 
	    height: 0; 
	    border-left: 3px solid transparent;
	    border-right: 3px solid transparent;
	
	    border-top: 3px solid #DEE9F5;
	    position: absolute;
        margin-top: 5px;
    }

    /*************links resources bookmarks************/
    /***dialog box z-index 1504****/
    #bannerLinksDiv
    {
        margin-top:14px;
        margin-left:10px;
	    background: #ECEDF1;
        right:0;
	    width:800px;
	    position:absolute;
	    clear:both;
	    border-top:3px solid #EA8525;
	    max-width:800px!important;
	    z-index:999;
        font-size: 13px;
	    text-align:left;
	    padding:10px 5px 10px 10px;
        font-family: "Verdana"!important;
	    text-align:left;
	    border-top:3px solid #EA8525;
        background: #ECEDF1;

    }
    #bannerResourcesDiv
    {
        margin-top:14px;
	    background: #ECEDF1;
        right:0;
	    width:auto;
	    position:absolute;
	    clear:both;
	    border-top:3px solid #EA8525;
	    z-index:9999999999;
        font-size: 13px;
	    text-align:left;
	    padding:10px 5px 10px 5px;
        font-family: "Verdana"!important;
	    text-align:left;
	    border-top:3px solid #EA8525;
        background: #ECEDF1;

    }
    #bannerLinks
    {
	    width:70%;
        float:left;
    }
     #bannerBookmarks
     {

	    float:left;
    }
    .LinkSpan
    {
            color:#DEE9F5;
         text-decoration:none;    
         font-weight:bold;
         font-size:12px;
         cursor:pointer;
         text-transform:uppercase;
	    font-family: "Verdana"!important;
         padding: 5px;
    }
    #links-container:hover a#LinkSpan{
    color:black;
    }
    #links-container:hover .LinkSpan,#resources-container:hover .LinkSpan
    {
	  background-color:#6A7B8B!important;
    }

    #links-container
    {
	    list-style: none!important;
	    position:relative;
        float:right;
        font-family: "Verdana"!important;
        font-size: 12px;
	    padding:9px 14px;
	    font-weight:bold;
	    color:#DEE9F5; 
	    text-decoration:none!important;
        list-style:none; 
        margin-top: 5px;
    }
    .ulBannerLinks,.ulRecources
    {
        padding-left: 9px;
        padding: 0px 0px 10px 0px !important;
	    float:left;
	    width:auto;
	    margin:0 10px 10px 0;
        list-style:none;

        /*list-style:none;width:auto;float:left;padding:8px;margin:0----for ulRecources**/
    }
    .pUlBannerLink
    {
        text-transform:uppercase;
	   font-family: "Verdana"!important;
        font-size: 13px;
        color: #ea8525 !important;
        font-weight: bold; 
        padding-bottom:15px;

    /* color:#EA8525!important;padding:0 0 10px 0;margin:0!important;text-transform:uppercase;font-weight:bold;**/       
    }


    #resources-container
    {
        list-style: none!important;
	    position:relative;
        float:right;
        font-family: "Verdana"!important;
        font-size: 12px;
	    padding:9px 14px;
	    font-weight:bold;
	    color:#DEE9F5; 
	    text-decoration:none!important;
        width:auto;
        margin-top: 5px;
    }
    #support-container
    {

	    position:relative;
        float:right;
        font-family: "Verdana"!important;
        font-size: 12px;
	    padding:9px 14px;
	    font-weight:bold;
	    color:#DEE9F5; 
	    text-decoration:none!important;
        width:auto;
        margin-top: 5px;
    }
     #support-container a
    {
         color:#DEE9F5;
         text-decoration:none;    
         font-weight:bold;
         font-size:12px;
         cursor:pointer;
         text-transform:uppercase;
	     font-family: "Verdana"!important;
         padding: 5px;
         background-color:rgba(192, 192, 192, 0.25);
    }
      #support-container a:hover
      {
          color:#ea8525;
      }
    .liBannerLinks
    { 
       padding-bottom:15px;   
    }
    .liResources
    {padding-bottom:20px;
     white-space:nowrap;
    }
    
    .aBannerLinks,.aResources{
        color:#696969!important;
	    font-family: "Verdana"!important;
        font-size:13px;
        font-weight:normal;
        }
    .BannerLinkUL
    {padding-bottom:12px;}

    .aBannerLinks:hover .aBannerLinks
    {
        color:silver;
    }
    /****support tab****/
    .supportTabSpan
     {
        display: inline-block;
        position: relative;
        height: 30px;
        line-height: 30px;
        padding: 0px 7px 0px 11px;
        border-right: 1px solid transparent;
        background-clip: padding-box;
    }
    /****bookmarks******/
    .ulBookmarHead
    {
       padding-left: 9px;
        padding: 0px 0px 10px 0px !important;
	    float:left;
	    width:auto;
	    margin:0 10px 10px 0;
        list-style:none;

        /*list-style:none;width:auto;float:left;padding:8px;margin:0**/
    }
    .pBookmarkHead
    {
        text-transform:uppercase;
	    font-family: "Verdana"!important;
        font-size: 13px;
        color: #ea8525 !important;
        font-weight: bold; 
        padding-bottom:15px;

    /*padding:0 0 5px 0!important;margin:0!important**/
    }
    
    #BookmarHead li
    {
        padding-bottom:15px;
        font-weight:normal;
        clear:both;
    }
     
    #BookmarHead li a
    {
         cursor:pointer;
    color:#696969;
    font-weight:normal;

    }
    #BookmarHead li img
    {
 padding-bottom:1px;
    }
    .liAddBookmark
    {

    }
  .aAddBookmark
  {
    cursor:pointer;
    color:#696969;
    font-weight:normal;
    padding-bottom:20px;
  }
  #ms-help
  {
      display:none;
  }
/***BANNER LINKS***/
#signInAs
{
	list-style: none!important;
	height:35px !important;
	/* Rounded Corners */	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:#3B4F65;
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
	position:relative;
}
.ms-srchnav-item
{
	padding-right:15px;
}
/****search***/
.styled-select {
  /* width: 240px;*/
   /*height: 34px;*/
   overflow: hidden;
   /*background: url(/images/Icon-DownArrow.png) no-repeat right white!important;*/
  /** border: 1px solid #ccc;*/
  display:table-cell;
   }
.styled-select select {
   background: transparent;
  /* width: 268px;*/
  	/*padding-top: 5px;*/
  margin-top:0;
   border: 0;
   border-radius: 0;
   /*height: 34px;*/
   -webkit-appearance: none;
   }
.ms-srchnav-list
{
	font-size: 8.5px;
vertical-align: middle;

}
#ctl00_PlaceHolderSearchArea_g_81e90696_f647_491d_8355_964c2757a26a_SRCHNAV
{
	margin-top:5px;
}
#searchInputBox

{
	margin-top:15px;
	float:left;
	margin-left:50px;
	display: table;
	width:550px;
}
#SearchBox
{
	/*margin-right:20px;*/
}
#LexisNexisOuterSearchBox
{
 display:table-cell;
 margin-left:30px;

}
#LexisNexisInnerSearchBox
{
	 display:table;
}
#LexisDropDown
{
	display:table-cell;
}
#companyRadio,#tickerRadio
{ font-family:Verdana!important;
font-size:12px!important;
vertical-align:top;
color:#777;
}
#lxselect
{
	margin-right:10px;
}
#searchImg
{
	vertical-align: top;
}
#LexisEnterText
{
border: 2px solid #2CB6C0;
float:left;	
}
#searchkey
{
	border:0;
	height:19px;
}

#ctl00_PlaceHolderSearchArea_SmallSearchInputBox1_csr_sboxdiv
{	width: 350px;
	border: 2px solid #2CB6C0;
	margin-right:15px;
	/*position: absolute;
	left: 300px;*/	
}
#ctl00_PlaceHolderSearchArea_SmallSearchInputBox1_csr_sbox
{
	width:80%;
}
/***featured content background***/
#scriptWPQ3
{
 background:#F1F2F5;
}
/**tabs/***/
.ui-widget-header{
background:gray;
}

/***accordian featured links***/
#accordion {
    list-style: none;
    padding:20px;

}
#accordion ul {
    list-style: none;
    padding: 0 0 0 0;
}
#accordion ul{
    display: none;
}
#accordion a {
    text-decoration: none;
}
#accordion a:hover {
    text-decoration: underline;
}
.accordianFeatureLinksLi
{
margin-bottom:10px;	
}
.divFeatureLinkGroupName
{
	padding-top:5px;font-family:verdana;
	font-size:14px;
	display: block;
    font-weight: bold;
    margin: 1px;
    cursor: pointer;
    padding: 5 5 5 7px;
    list-style: circle;
    color:#222222;
}
.ulFeatureLink
{
	margin-left:10px;
}
.liFeatureLink
{
	padding-bottom:10px;margin-left:15px;
	margin-top:10px;
	font-weight: normal;
    cursor: auto;
    padding: 0 0 0 7px;
}
.aFeatureLink
{
	font-family:verdana;color:#48494B!important;/**#78797A**/
	font-size:13px;
}
/**---------------------**accordian featured links end ***------------------------------------*/
#s4-titlerow
{
width:85%;
margin: auto;/**t r b l**/
}
#s4-bodyContainer
{
 padding-bottom:0;
}
#middleConetntDiv
{
/**margin:10px 20px 20px 20px;**/
float:left;
width:75%;
}
#megaMenuDiv
{
 padding-bottom:50px;/**margin:0 20px 0 20px;**/
}
#DeltaPlaceHolderPageTitleInTitleArea
{
	text-transform:uppercase;
	font-family: "Verdana"!important;
	font-size:15px;
	color:#262626;
	font-weight:200;
	padding:0;
	margin:0;
}
#sideNavBox 
{
 /**margin-left:25px!important;**/
 width:80%;
}
#box
{
  width:100%;
/*  margin:auto;**/
/**margin:10px 20px 10px 20px;**/
}
#leftContentDiv
{
	width:25%;
}
 /****left navigation css ************/
 .ms-core-listMenu-item {
  /*  background-color: #ECEDF1 !important;*/
 
}
.ms-core-listMenu-verticalBox
{/*background-color:#ECEDF1 ;*/
}  
li.selected
 {
	/*background:red;*/
}
	#s4-leftpanel-content{
background-color:red!important;
}
.ms-core-listMenu-verticalBox
{
	background:#ECEDF1 ;
	/*font-weight:bold;*/
	border-bottom:3px #C7C7C7 solid;
	font-size:15px;
	
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item,.ms-core-listMenu-verticalBox li.static > ul.static > li.static > .ms-core-listMenu-item
{
	color:black;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected,.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected:hover
{
	background:#B9BBBE;
	border-left:7px #FA830F solid;
}
.homeHeader
{
	background-color:#DDDDDD;padding:10px 0 10px 5px; font-size:22px; font-weight:100; margin-bottom:15px;
	float:left;width:100%;
	font-family: "Verdana"!important;
	color:#536173;
}
.pageHeader
{
	background-color:#DDDDDD;padding:10px 0 10px 5px; font-size:22px; font-weight:100; margin-bottom:15px;
	width:100%;
	font-family: "Verdana"!important;
	text-align:left;color:#536173;
}

#titleAreaBox
{
	margin:0px;
}
#dvDocuments
{
	padding-left:2px;display:table;
}
.clsdocLib
{
	font-size:16px;font-weight:bold;color:#1C86CF;
	text-align:left;width:30%;float:left;margin-right:25px;padding-bottom:15px;
	display:table-cell;

}
.hrDoc
{
	color:#DDDDDD;background:#DDDDDD;height:4px;border:0px;
}
.clsLibName
{
border-bottom:1px #CFCFCF solid;padding-bottom:10px;padding-left:5px;	
}
.clsLibName,.clsLibName 
{
color:#1C86CF;
}
.clsdocLibDetails
{
	padding-top:10px;padding-left:5px;		font-size:14px;font-weight:normal;color:black;width:72%;float:left;
}
.clsdocLibImg
{
	padding-top:10px;padding-right:5px;float:left;
}
.spanCount
{
	color:#1C86CF;font-weight:bold;
}
.spanTitle
{
color:black;font-weight:bold;
}
.spanText
{color:#666666;}

/*********Top nav, Links, resources , bookmarks, support, login name************/
 #suiteBarLeft    {
        background:#3B4F65!important;
    }

   
  /*****************FOOTER LINKS*******************/
  /**FOOTER***/
#FooterLinkUL/**#footerLinks ul **/
{
 color:white!important;
 width:15%;


}
a.FooterLinkLI 
{
 color:#DBDBDB;/**#E6E6E6;**/
 text-transform:none;
  text-decoration:none;
 font-weight:normal;
  padding-bottom:0;
  cursor:pointer;
  padding:2px;
  font-size:13px;
  font-family: "Verdana"!important;
}
a.FooterLinkLI:hover
{
	color:orange;
}
/*li.BannerLinkLI 
{
 color:black;
 text-transform:none;
 font-weight:normal;
  padding-bottom:0;
  cursor:pointer;
  padding:2px;
  font-size:13px;
  
  font-family:Arial, Helvetica, sans-serif;


}*/

  .ulFooterLinks
  {
	list-style:none;width:auto;float:left
}
.pUlFooterLinks
{
font-family: "Verdana"!important;
	color:#E6E6E6;cursor:default;text-transform:uppercase; font-weight:bold; font-size:13px;
}
/*******content feed****/
.divContentCategory
{
	display: block;
	font-weight: bold;
	margin: 1px;
	cursor: pointer;
	list-style: circle outside none;
	list-style:none;padding:0;margin:0;
}
.ContentCategoryRefinerLI
{
	margin-left:5px;
	
	display: inline;
	font-family: "Verdana"!important;
	font-size:15px;

}
.aContentCategoryRefinerLI
{
	color:black;font-weight: normal;cursor:pointer;background-color:#FFF;padding: 0px 0px 0px 7px;
	font-family: "Verdana"!important;
	font-size:15px;
	padding-bottom:15px;

}
/*******************Announcements******************/
.pTdAnnouncements
{
	font-family: "Verdana"!important;
	cursor:pointer;font-weight:600;color:#198FAF;font-size:14px!important;/***2CB6C0**/
	display: inline;margin:0;

}
.pAnnouncementSourceSite
{
	font-family: "Verdana"!important;
	font-weight:normal;color:#939393;font-size:12px;margin:0;
	padding:5px 0 5px 0;
	}
.pAnnouncementDesc
{
	font-family: "Verdana"!important;
	font-size:12px!important;display: inline;
}


/******************POLL***********************/
#pollContainer
{ padding:20px;
}
#Question
{
	padding-bottom:10px;
	font-family:verdana;
	font-size:14px;
    font-weight: bold;
    margin: 1px;
    cursor: pointer;
    padding: 5 5 5 7px;
    list-style: circle;
    color:#222222;
	
}
#Answers
{
	background:#ECEDF1;
	padding-bottom:10px;margin-left:15px;
	margin-top:10px;
	font-weight: normal;
    cursor: auto;
    padding: 0 0 0 7px;
	font-family:verdana;color:#48494B!important;/**#78797A**/
	font-size:13px;

}
#Answers input
{
	margin: 7px;
margin-left: 0;
}
#my_Vote
{
margin: 7px 7px 7px 6px;
background:#3B4F65;	
border:0;
color:white;
font-size:14px;
}
#Previous
{
	float:left;
}
#Next
{
	float:right;
}

/*******Subscriptions****/
#mySubscriptionContainer
{
	 padding:20px;
}
.aSubscription  
{
	font-family:verdana;color:#48494B!important;/**#78797A**/
	font-size:13px;

}
.trSubscription
{
		background:#ECEDF1;
	padding-bottom:10px;
	margin-top:10px;
	font-weight: normal;
    cursor: auto;
}
