﻿.sectionHeader
{
	background:#3B4F65;color:white;font-family:Verdana;font-size:8pt;font-weight:bold;!important;padding-bottom:5px;padding-top:5px;
	
}

#tblSubscription td
{
	vertical-align:top;text-align:left;font-family:Verdana!important;font-size:14px!important;padding-bottom:15px;color:#536173!important;
}
#tblSubscription
{
	
}
.requestButton
{
	background-color:#3B4F65!important;color:white!important;font-family:Verdana!important;font-size:14pt!important;font-weight:bold!important;
}

#tblSubscriptionNames
{
	width:80%;
	border:1px #DDDDDD solid;
	border-collapse:collapse;
	padding-left:10px;
	
}
#tblSubscriptionNames th
{
background:#DDDDDD;color:#536173;font-family:Verdana;font-size:14px;font-weight:normal;padding-bottom:5px;padding-top:5px;	
text-align:left;border-collapse:collapse;
}

#tblSubscriptionNames td
{
font-family:Verdana;font-size:14px;font-weight:bold;padding-bottom:5px;padding-top:5px;font-weight:normal;text-align:left;vertical-align:top;
border-collapse:collapse;

}
#dvStatus
{
font-family:Verdana;font-size:22px;font-weight:normal;color:#536173;	
}
#lblError
{
font-family:Verdana;font-size:14px;font-weight:normal;color:red;	
}

/*#tblMySubscription,#tblMySubscription td , #tblMySubscription td a 
{
font-family:Verdana;font-size:13px;font-weight:normal;text-align:left;vertical-align:top;color:#536173!important;

	
}*/
*/
#tblMySubscription td {
	padding-top:3px;padding-left:25px;
}
#tblAllSubscription th
{
font-family:Verdana;font-weight:normal;
text-align:left;padding-left:3px;padding-right:3px;;color:#536173;
}
#tblAllSubscription td
{
font-family:Verdana;padding-bottom:5px;padding-top:5px;font-weight:normal;text-align:left;vertical-align:top;
border-collapse:collapse;padding-left:3px;padding-right:3px;font-size:14px;;color:#536173;

}
#tblAllSubscription td a
{
font-family:Verdana;font-size:14px;color:#536173;

}

.pageSectionHeader
{
color:#3B4F65;/*#3B4F65;*/
font-family:Verdana;font-size:15px!important;font-weight:bold!important;border-bottom:2px solid #c6c6c6;
}
.leftsection
{
font-family:Verdana;font-size:12px;padding-bottom:5px;font-weight:normal;text-align:left;vertical-align:top;color:#3B4F65;
	
}
.rightsection
{
text-align:left;
	
}
#dvMessage
{
color:#3B4F65!important;/*#3B4F65;*/
font-family:Verdana!important;font-size:20px!important;font-weight:bold!important;padding-left:10px;
	
}
.headerlinks
{
color:#536173!important;/*#3B4F65;*/
font-family:Verdana!important;font-size:16px!important;font-weight:normal!important;padding-left:20px;
}
.rssMainheading
{
color: rgb(59, 79, 101) !important;
font-size: 14px !important;
font-weight: bold;
padding-bottom: 10px;
vertical-align: top;
}
.rssMainheading a,.rssMainheading a:hover
{
color: rgb(59, 79, 101) !important;
font-size: 14px !important;
font-weight: bold;

vertical-align: top;
}

.rssViacomTitle
{   font-size: 13px;
    font-weight: bold;
    color: #2CB6C0;
    vertical-align: top;
    padding-bottom: 5px;
     padding-top: 5px;
    
   
    
}
.rssViacomTitle a, .rssViacomTitle a:hover
{   font-size: 13px;
    font-weight: bold;
    color: #2CB6C0;
   }
.rssViacomMainheading
{
color: rgb(59, 79, 101) !important;
font-size: 14px !important;
font-weight: bold;

vertical-align: top;
}
.rssViacomMainheading a,.rssViacomMainheading a:hover
{
color: rgb(59, 79, 101) !important;
font-size: 14px !important;
font-weight: bold;

vertical-align: top;
}

.rssTitle
{   font-size: 13px;
    font-weight: bold;
    color: #2CB6C0;
    vertical-align: top;
    padding-bottom: 7px;
    padding-top: 10px;
}
.rssTitle a, .rssTitle a:hover
{   font-size: 13px;
    font-weight: bold;
    color: #2CB6C0;
   }

.rssImage {
    vertical-align: top;
    width:20%;
    
}
.rssDate {
    font-weight: bold;
    color: #808080;
    margin: 2px;
    font-size: 11px;
    padding-left: 15px;
}
.rssBody {
    font-family: Verdana;
    font-size: 11px;
    font-weight: normal;
    vertical-align: top;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 5px;
    color: #444;
}
.rssViacomDate {
    font-weight: bold;
    color: #808080;
    margin: 2px;
    font-size: 11px;
   
}
.rssViacomBody {
    font-family: Verdana;
    font-size: 11px;
    font-weight: normal;
    vertical-align: top;
    padding-bottom: 10px;
   
    padding-top: 5px;
    color: #444;
}

.rssRootnodes {
    color: rgb(59, 79, 101) !important;
    font-size: 14px !important;
    font-weight: bold;
}
.rssLeafnodes {
    font-size: 13px !important;
    color: #444;
    }
.rssSelectedNode{
	 color: #2CB6C0;

}
.tdpartition {
    border-left: 0.2px solid #E2E2E2;
}
.more, .more:visited
{
		 font-size: 15px!important;
    font-weight: bold!important;
    color:#198FAF!important;/*** #2CB6C0***/
 font-family: verdana !important;

}
.drpNews, .drpNews option
{
	border:0px;
	font-size:13px;
	
	
}
.drpNews option
{

	border:0px;
}

#tdExternalMoreLink
{
vertical-align:top;
	
}
/******AllLinks-ToolTip******/
li.AllLinksLi:hover {
    cursor: help;
    position: relative
}
li.AllLinksLi span {
    display: none
}
li.AllLinksLi:hover span {
    border: #c0c0c0 1px dotted;
    /**padding: 3px;**/
    display: block;
    z-index: 100;
    background: #f4f4f4 ;
    /**margin: 10px;**/
    width: 200px;
    position: absolute;
    top: 4px;
    left:55px;
    text-decoration: none
}
