﻿.ms-vb2
{
	padding: 4px 1px 4px 1px;
}
.sectionHeader
{
	background:#3B4F65;color:white;font-family:"Roboto";font-size:8pt;font-weight:bold;!important;padding-bottom:5px;padding-top:5px;
	
}

#tblSubscription td
{
	vertical-align:top;
	text-align:left;
	/***font-family:Verdana!important;font-size:14px!important;padding-bottom:15px;color:#536173!important;**/
}
#tblSubscription
{
	
}
#lblrequestor
{
font-family:"Roboto"!important;font-size:12px!important;color:#536173;	
}
.requestButton
{
	background-color:#3B4F65!important;color:white!important;font-family:"Roboto"!important;font-size:14pt!important;font-weight:bold!important;
}

#tblSubscriptionNames
{
	width:80%;
	border:1px #DDDDDD solid;
	border-collapse:collapse;
	padding-left:10px;
	
}
#tblSubscriptionNames th
{
background:#DDDDDD;color:#536173;font-family:"Roboto";font-size:14px;font-weight:normal;padding-bottom:5px;padding-top:5px;	
text-align:left;border-collapse:collapse;
}

#tblSubscriptionNames td
{
font-family:"Roboto";font-size:14px;font-weight:bold;padding-bottom:5px;padding-top:5px;font-weight:normal;text-align:left;vertical-align:top;
border-collapse:collapse;

}
#dvStatus
{
font-family:"Roboto";font-weight:normal;color:#536173;
font-size:15px!important;
	
}
#lblError
{
font-family:"Roboto";font-size:14px;font-weight:normal;color:red;	
}

/*#tblMySubscription,#tblMySubscription td , #tblMySubscription td a 
{
font-family:Verdana;font-size:13px;font-weight:normal;text-align:left;vertical-align:top;color:#536173!important;

	
}*/
*/
#tblMySubscription td {
	padding-top:3px;padding-left:25px;
}
#tblAllSubscription th
{
font-family:"Roboto";font-weight:normal;
text-align:left;padding-left:3px;padding-right:3px;color:#536173;
}
#tblAllSubscription td
{
font-family:"Roboto";padding-bottom:5px;padding-top:5px;font-weight:normal;text-align:left;vertical-align:top;
border-collapse:collapse;padding-left:3px;padding-right:3px;font-size:12px;color:#536173;

}
#tblAllSubscription td a
{
font-family:"Roboto";font-size:12px;color:#536173;

}

.pageSectionHeader
{
color:#3B4F65;/*#3B4F65;*/
font-family:"Roboto";font-size:15px!important;font-weight:bold!important;border-bottom:2px solid #c6c6c6;
}
.leftsection
{
font-family:"Roboto";font-size:12px!important;padding-bottom:5px;font-weight:bold;text-align:left;vertical-align:top;color:#536173;/**3B4F65**/;
	
}
.rightsection
{
text-align:left;
font-family:"Roboto";font-size:12px!important;
color:#536173;	
}
#dvMessage
{
color:#536173!important;/*#3B4F65;*/
font-family:"Roboto"!important;font-size:15px!important;font-weight:normal!important;	
}
.headerlinks
{
color:#536173!important;/*#3B4F65;*/
font-family:"Roboto"!important;font-size:12px!important;font-weight:normal!important;padding-left:20px;
text-decoration:none;
}
a.headerlinks:hover
{
	text-decoration:none;
}
.rssMainheading
{
color: rgb(59, 79, 101) !important;
font-size: 14px !important;
font-weight: bold;
padding-bottom: 10px;
vertical-align: top;
}
.rssMainheading a,.rssMainheading a:hover
{
color: rgb(59, 79, 101) !important;
font-size: 14px !important;
font-weight: bold;

vertical-align: top;
}

.rssViacomTitle
{   font-size: 13px;
    font-weight: bold;
    color: #2CB6C0;
    vertical-align: top;
    padding-bottom: 5px;
     padding-top: 5px;
    
   
    
}
.rssViacomTitle a, .rssViacomTitle a:hover
{   font-size: 13px;
    font-weight: bold;
    color: #2CB6C0;
   }
.rssViacomMainheading
{
color: rgb(59, 79, 101) !important;
font-size: 14px !important;
font-weight: bold;

vertical-align: top;
}
.rssViacomMainheading a,.rssViacomMainheading a:hover
{
color: rgb(59, 79, 101) !important;
font-size: 14px !important;
font-weight: bold;

vertical-align: top;
}

.rssTitle
{   font-size: 13px;
    font-weight: bold;
    color: #2CB6C0;
    vertical-align: top;
    padding-bottom: 7px;
    padding-top: 10px;
}
.rssTitle a, .rssTitle a:hover
{   font-size: 13px;
    font-weight: bold;
    color: #2CB6C0;
   }

.rssImage {
    vertical-align: top;
    width:20%;
    
}
.rssDate {
    font-weight: bold;
    color: #808080;
    margin: 2px;
    font-size: 11px;
    padding-left: 15px;
}
.rssBody {
    font-family: "Roboto";
    font-size: 11px;
    font-weight: normal;
    vertical-align: top;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 5px;
    color: #444;
}
.rssViacomDate {
    font-weight: bold;
    color: #808080;
    margin: 2px;
    font-size: 11px;
   
}
.rssViacomBody {
    font-family: "Roboto";
    font-size: 11px;
    font-weight: normal;
    vertical-align: top;
    padding-bottom: 10px;
   
    padding-top: 5px;
    color: #444;
}

.rssRootnodes {
    color: rgb(59, 79, 101) !important;
    font-size: 14px !important;
    font-weight: bold;
}
.rssLeafnodes {
    font-size: 13px !important;
    color: #444;
    }
.rssSelectedNode{
	 color: #2CB6C0;

}
.tdpartition {
    border-left: 0.2px solid #E2E2E2;
}
.more, .more:visited
{
		 font-size: 12pt!important;
    /*font-weight: bold!important;*/
    color:#008bbb!important;/*** #2CB6C0***/
 font-family: "Roboto" !important;

}
.link, .link:visited
{
		 font-size: 15px!important;
    font-weight: bold!important;
    color:#198FAF!important;/*** #2CB6C0***/
 font-family: "Roboto" !important;
 padding-bottom:10px;

}

.drpNews, .drpNews option
{
	border:0px;
	font-size:13px;
	
	
}
.drpNews option
{

	border:0px;
}

#tdExternalMoreLink
{
vertical-align:top;
	
}
/******AllLinks-ToolTip******/
li.liFeatureLink:hover {
    cursor: help;
    position: relative
}
li.liFeatureLink span {
    display: none
}
li.liFeatureLink:hover span {
    border: #c0c0c0 1px dotted;
    /**padding: 3px;**/
    display: block;
    z-index: 100;
    background: #f4f4f4 ;
    /**margin: 10px;**/
    width: 200px;
    position: absolute;
    top: 4px;
    left:55px;
    text-decoration: none
}
/*****multi select****/
.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection {
    border-bottom: 1px solid #EEE;
    padding: 2px 5px;
    background-color: #FFF;
    color: #536173;
    font-family:"Roboto";
    font-size:12px;
}
.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover {
    cursor: pointer;
    text-decoration: none;
    background: none repeat scroll 0% 0% #DDD;
    color: #536173;
}
/*****AdSpace button UI***/
.button
{
	margin: 7px 7px 7px 6px;
	background:#3B4F65;	
	border:0;
	color:white;
	font-size:12pt;
	font-family:"Robot"!important;
	cursor:pointer;
}
.button:hover
{
	background:#3B4F65;	
	cursor:pointer;
	/*olor:#EA8525 ;*/
}
.hrDoc
{
	color:#DDDDDD;background:#DDDDDD;height:4px;border:0px;
	margin-bottom:30px;
}
/******external sharing UI*****/

#SharedWithUserTop
{
width: 100%;
display: inline-block;
margin-right:10px;
}
#SharedWithUserName
{
width: 20%;
display: inline;
color:#536173;	
font-size:12px;
font-weight: bold;
}
#SharedWithUserNameLbl,#SharedWithUserItemCountLbl
{
color:#536173;	
font-size:12px;
font-weight: normal!important;
 vertical-align:top;	
}
#SharedWithUserItemCount
{
width: 20%;
display: inline;
color:#536173;
font-size:12px;
font-weight: bold;	
margin-left:15px;
}
#RemoveSharingDiv
{
display: inline;
float: right;	
}
#RemoveSharingDiv button
{
	margin:0;
}
.ms-vh, .ms-vh2, .ms-vh-icon, .ms-vh-icon-empty, .ms-vh2-nofilter, .ms-vh2-nofilter-notextalign, .ms-vh2-nofilter-perm, .ms-vhImage, .ms-vh2-nograd, .ms-vh3-nograd, .ms-vh2-nograd-icon, .ms-vh2-nofilter-icon, .ms-ph
{
	font-size:11pt!important
}