﻿#WidgetContainer
{
	width:100%; overflow:hidden;
}
#topAnnounceDiv
{
	width:100%;overflow:hidden; float:left;	
}
#LeftTopContent
{
	width:60%;  float:left;margin:2px;margin-right:20px;
}
#tabs
{
	border:0 white; background:white;
}
#ultabs
{
	background: white ;border:0 white;
}
#tab1,#tab2,#tab3
{
	background: white ;border:0 white; padding-left:0;margin-left:0;
}
.aTab
{
	padding-left:0;margin-right:2px;
}
#RightAnnouncements
{
	width:37%;float:left;margin:2px;float:right;
}
#moreForTopandAnnounce
{
	width:100%;overflow:hidden; float:left;
}
.moreContainer
{
	  float:left;margin:2px;position:relative
}
.more
{
	padding-bottom:5px
}
.hrDoc
{
	padding:0px; width:100%;
}
@media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px) 
{

}