﻿

/******Mega Menu****/
#mega-menu-container{
	list-style: none!important;
	/* width:1240px; */
	/**margin:5px 5px 0px 5px;**/
	/**height:35px!important;**/
	/**padding:0px 20px 0px 20px;**/
	z-index: 999 !important;
height:35px !important;
	/* Rounded Corners */
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	/* Background color and gradients */
	 
	/*background: url("/sites/AdSpace/images/mega menu IMAGES/MT-WPTitle.png") repeat-x scroll left top #00529D;**/
	
	/**http://infvavm024:29093/sites/AdSpace/images/mega menu IMAGES/MT-WPTitle.png**/
	
	/* Borders */
	
	/*border: 1px solid #002232;*/

	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
	position:relative;
}

#mega-menu-container > li {
	/**background: url("/sites/AdSpace/images/mega menu IMAGES/MT-TopNav.png") no-repeat scroll right top transparent;**/
	

/**http://infvavm024:29093/sites/AdSpace/images/mega menu IMAGES/MT-TopNav.png**/
}
#mega-menu-container li 
{
    border: medium none;
    display:inline-table;
    float: left;
    /*margin: 5px 0 0;*/
    padding: 9px 15px;
    position: relative;
    text-align: left;
    
}

#mega-menu-container li:hover {
	border-left: 1px solid #777777;
		border-right: 1px solid #777777;
	border-top:0;
		border-bottom:0;
		
	padding: 9px 14px;
	
	/* Background color and gradients */
	
	background: #F4F4F4;
	background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
	
	/* Rounded corners */
	
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}
#mega-menu-container li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.1em; 
	color: #EEEEEE;
	display:block;
	outline:0;
	text-decoration:none;
	/*text-shadow: 1px 1px 1px #000;*/
}
#mega-menu-container li:hover a {
	color:#161616;
	/*text-shadow: 1px 1px 1px #ffffff;*/
}
#mega-menu-container li .drop {
	/*padding-right:21px;
	background:url("img/drop.png") no-repeat right 5px;*/
}
.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 10px 5px;
	border:1px solid #777777;
	border-top:none;
	z-index: 999 !important;
	/* Gradient background */
	background:#F4F4F4;
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));

	/* Rounded Corners */
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}
.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

#mega-menu-container li:hover .dropdown_1column, 
#mega-menu-container li:hover .dropdown_2columns, 
#mega-menu-container li:hover .dropdown_3columns,
#mega-menu-container li:hover .dropdown_4columns,
#mega-menu-container li:hover .dropdown_5columns {
	left:-1px;
	top:auto;
}
/**.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 4px;
	margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}**/

#mega-menu-container .menu_right {
	float:right;
	margin-right:0px;
}
#mega-menu-container li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

#mega-menu-container li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}
#mega-menu-container p, #mega-menu-container h2, #mega-menu-container h3, #mega-menu-container ul li {
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	font-size:12px;
	text-align:left;
	text-shadow: 1px 1px 1px #FFFFFF;
	color:fuchsia
}
#mega-menu-container h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#mega-menu-container h3 {
	font-size:14px;
	margin:7px 0 12x 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}
#mega-menu-container p {
	line-height:18px;
	margin:0 0 10px 0;
}
/*
	color:#CC3300!important;
	
}
#liSubHead #ulsub #lisub{
	color:blue!important;
	border:1px solid green!important;
	background:yellow;
}*/
.finalsubUrl{
	color:#EA8525!important;/**#CC3300!important;**/
	padding:0px 6px!important;
	margin:0!important;
	text-transform:uppercase;
	 font-weight:bold;
}
a.finalsubUrl:hover 
{
	color:#EA8525!important;/**#CC3300!important;**/
	padding:0px 6px!important;
	margin:0!important;
	text-transform:uppercase;
	 font-weight:bold;
	  background:#F4F4F4!important;
} 


.submenulinks{
	color:black!important;
}

#mega-menu-container li:hover div a {
	
	border-bottom: #ccc 1px solid;
	border-left: #ccc 0px solid ;
	padding-bottom: 0px;
	padding-left: 10px ;
	padding-right: 1px;
	color:#333;/**#CC3300;/* #4c4c4c ;*/
	font-size: 1.1em ;
	border-top: #ccc 0px solid  ;
	border-right: #ccc 0px solid ;
	padding-top: 0px;
}
#mega-menu-container li:hover div a:hover {
	
	cursor: pointer;
	overflow: hidden ;
	color:#333;
	background:#ccc;
}

.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF ;
	padding:4px ;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666 !important;
	-webkit-box-shadow:0px 0px 5px #666666 !important;
	box-shadow:0px 0px 5px #666666 !important;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}
#mega-menu-container li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#mega-menu-container li ul {
	list-style:none;
	padding:0;
	margin:1px 1px 12px 1px;
	
}
#mega-menu-container li ul li {
	
	display:block;
	font-size: 1.em !important;
	padding-left: 10px !important;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #black;	
	float:none;
	margin: 0px;
	padding:0px;
	text-align:left;
	width:auto!important;
	/*background: url(/_layouts/images/MT-Images_003/MT-Highlight.png) #ddd repeat-x left top;
	
	font-size:9px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #black;	
	float:none;
	margin: 0px;
	padding:0px;
	text-align:left;
	width:130px;
	background: url(/_layouts/images/MT-Images_003/MT-Highlight.png) #ddd repeat-x left top;	
	border-bottom: #d9d9d9 1px solid !important;
	border-left:  #d9d9d9 1px solid !important;
	border-right:  #d9d9d9 1px solid !important;*/
	
}

#mega-menu-container li ul li:hover {
	
	border:none;
	padding:0;
	margin:0px;   
    /**background: url("/sites/RavSP2013/images/Mega Menu/MT-Shadow_B.png") repeat-x scroll left top #CAE1FF !important;**/
    font-weight: normal;
      		
}
#mega-menu-container li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#mega-menu-container li .greybox li:hover 
{
	background:#abbfd8;	
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}

#mega-menu-container li.empty:hover 
{
    background:url("/sites/adspace/images/mega%20menu%20IMAGES/MT-TopNav_R.png") no-repeat scroll right top transparent;
    /**http://infvavm024:29093/sites/AdSpace/images/mega menu IMAGES/MT-TopNav_R.png**/
    border:none;
    padding: 9px 15px;
}
#mega-menu-container li.empty:hover a
{
    color:#FFFFFF;
}
#dropdown_2columns/**#dvSub1**/
{
	display:none;
}
#liMain:hover #dropdown_2columns
{
	display:block;
}
#dropdown_2columns{
	clear:both;
}
#ulSubHead{
	display:inline!important;
	float:left;
	/**clear:both;**/
	/*border: 2px solid red;*/
	position:relative;
	margin:0!important;
}
#dvSub1{
	display:none;
}

/*#liSubHead{
	display:inline!important;
	float:left;

}*/
#dvSubOut
{
	clear:both;
	 /**width:auto;**/
	position:absolute;
	/*background:-moz-linear-gradient(center top , rgb(244, 244, 244), rgb(238, 238, 238)) repeat scroll 0% 0% transparent;*/
	width:320px!important; /**overflow:visible;**/
	margin:8px 0 0 -14px;
	border-top:3px solid #EA8525;
	max-width:320px!important;
	z-index:10000;
background: #F4F4F4;
	background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));

}
.triangle {
    border-color: transparent transparent orange transparent;
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    height: 0px;
    width: 0px;
    
}

/*****media query***/
@media only screen  and (min-device-width : 320px) and (max-width:480px)
 {
 #dvSubOut
 {
	 width:auto;
	 position:relative;
	 z-index:999;
	 border:0;
	 margin:0;
}
#mega-menu-container  
{
   
    position: relative;
    overflow:visible;
    z-index:99999;
    min-height:110px!important;
    max-height:auto!important;
    margin:0 0 20px 0!important;
    border:0!important;
	border-radius: 0px 0px 0px 0px!important;
    box-shadow: 0 0 0px !important;
    
    
}
.navbar-collapse{
	width:auto!important;
	height:auto!important;
	position:absolute;
	overflow:visible;
	border:0!important;
	box-shadow:0!important;
}

 #mega-menu-container li 
{
    border:0px;
    display:block;
   /* float: left;
    margin: 5px 0 0;*/
    padding: 9px 15px;
    position: relative;
    text-align: left;
    width:100%;
    height:auto;
    
}
 #mega-menu-container > li 
{
	background-image:none;
	border-bottom:1px solid gray!important;
}
#mega-menu-container li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.1em; 
	color: #EEEEEE;
	display:block;
	outline:0;
	text-decoration:none;
	/*text-shadow: 1px 1px 1px #000;*/
}
#mega-menu-container li:hover {
	border: 1px solid #777777;
	/**padding: 9px 14px!important;	**/
	/* Background color and gradients */	
	background: #F4F4F4;
	background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
	
	/* Rounded corners */	
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	height:auto!important;
	
}
#mega-menu-container li ul li {
	
	font-size: 1.em !important;
	padding-left: 10px !important;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #black;	
	float:none;
	margin: 0px;
	padding:0px;
	text-align:left;
	width:170px!important;
	border:0px solid red;
	
	
}



/*.submenulinks
{
	margin-left:20px !important;
	margin-bottom:0 !important;
	color:purple !important;
	
	}

#liSubHead
{
	background:blue;
	width:100px;
	margin:0!important;
}
#ulsub
{
	background:green;
	width:140px;

}
#ulSubHead
{
	
	width:10px !important;

}
#dropdown_2columns
{
	display:none;
}

*/
#mega-menu-container li:hover a {
	color:#161616;
	/*text-shadow: 1px 1px 1px #ffffff;*/
}

#mega-menu-container li ul {
	list-style:none;
	padding:0;
	margin:5px 1px 2px 1px;
}
#mega-menu-container li ul li {
	
	
	font-size: 1.em !important;
	padding-left: 10px !important;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #black;	
	float:none;
	margin: 0px;
	padding:0px;
	text-align:left;
	width:130px;
	/*background: url(/_layouts/images/MT-Images_003/MT-Highlight.png) #ddd repeat-x left top;
	
	font-size:9px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #black;	
	float:none;
	margin: 0px;
	padding:0px;
	text-align:left;
	width:130px;
	background: url(/_layouts/images/MT-Images_003/MT-Highlight.png) #ddd repeat-x left top;	
	border-bottom: #d9d9d9 1px solid !important;
	border-left:  #d9d9d9 1px solid !important;
	border-right:  #d9d9d9 1px solid !important;*/
	
}

#mega-menu-container li ul li:hover {
	
	border:none;
	padding:0;
	margin:0px;   
    font-weight: normal;
      		
}
#mega-menu-container li:hover div a 
{
	padding-left:5px;
}

}
 
@media only screen  and (min-device-width : 768px) 
 {
 .navbar-collapse{
	width:auto!important;
}
 }
 
 
 