﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Archive.aspx.cs" Inherits="Viacom.AdSpace.AppsWeb.Archive" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
.message
{font-family:Verdana;
 font-size:10pt;
 color:#198FAF;
 font-weight:bold;
}
#btnBack
{
    background-color:gray ;
    color:white;
    font-family:Verdana;
    font-size:11pt;
    font-weight:bold;
}
    </style>
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div style="text-align:center">
    <asp:Label ID="lbl" CssClass="message" runat="server"></asp:Label><br /><br />
       <asp:Label ID="lblFolder" CssClass="message" ForeColor="Brown" runat="server" Visible="false"></asp:Label><br /><br />  
    </div>
    </form>
</body>
</html>
