﻿#DeltaSuiteLinks
{
	display:none;
}
#moreForTopandAnnounce{
	display:none;
}
.ms-webpart-zone, .ms-fullWidth
{
	clear:both;
}

/*****drawer nav****/
#drawerIcon
{
	display:inline;
	float:left;
	margin-right:80px;
	margin-bottom:20px
}
#TopNavigation
{
	display:none;
}
/*****left nav***/
#sideNavBox
{
	display:none;
}
.ms-core-sideNavBox-removeLeftMargin {
    margin-left: 0;
}
.ms-webpart-chrome-vertical, .ms-webpart-cell-vertical {
display:block!important;
}
/******logged in user profile picture*********/
#LoggedInUserDetails {
    display: table;
    padding: 10px 10px 10px 0px;
}

#ProfilePicture {
    height: 50px;
    width: 70px;
    display: table-cell;
    padding: 0 10px;
}

#DisplayName {
    display: table-cell;
    vertical-align: middle;
    font-family: "Helvetica" !important;
    color: #003366;
    font-size: 14px;
}
/***************MASTER PAGE COMPONENTS******************/
html, body {height: 100%;}
body{font-family: Verdana!important;font-size:12px!important;font-weight:normal!important;}
.wrap {min-height: 100%;}
#main {overflow:auto;/*padding-bottom: 180px;margin-top:-20px*/}  /* must be same height as the footer */
#box{width:100%!important;/* padding-top:25px;*/
}
#footer 
{
	position: relative;
	margin-top: -180px; /* negative value of footer height */
	min-height: 180px;
	height:auto;
	clear:both;
	width:90%!important;
	margin-left:10px
} 
.ms-rte-wpbox{
	margin-top: 30px;
}
/*Opera Fix*/
body:before {
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;
}
#ctl00_PlaceHolderMain_ctl04__ControlWrapper_RichHtmlField p
{
 display:none;
}
/***site icon***/
#siteIcon
{
	float:none;
	margin-left: 50px;
	display:none;
}
/*******home page******/
/*****Top Conetnt Widget****/
.topConetntTabs
{
color: #536173;font-weight: bold;font-family: verdana !important;font-size: 14px!important;	
}

.TopContentFileDate
{
 font-family:Verdana!important;
 font-size:12px;
 color:#939393;
 padding-bottom:2px;
}
.TopContentFileName
{
font-family:Verdana!important;
 font-size:14px;
 color:#444;
  padding-bottom:3px;	
  margin:2px;
}
div#metadata 
{
  display:none;
  min-width: 230px;

}
div.searchContent:hover div#metadata{
    border: #c0c0c0 1px dotted;
    display: block;
    z-index: 100;
    background: white;
    position: absolute;
    top: 120px;
    left:60px;
    text-decoration: none;
    
}
div.searchContent:hover {
    position: relative
}
div#metadata .metadatatitle
{
	float:left;
	clear:both;
}
/***************************************************************************************************************/
/***************************TOP NAVIGATION, BANNER LINKS, BANNER BOOKMARKS, SUPPORT TAB, MS-HELP, SUITEBAR***********/
    /****bookmarks******/
    .DivBookmarkGroup
    {
	 margin-bottom:5px;
	 padding:2px;
	}
	.bookmarkName
	{
		font-family: "Verdana"!important;
        font-size: 12px;
        color: #868686 !important;
        margin-bottom:10px;

	}
	.liBookmarkGroup:hover
	{
	 background:#f7f7f7;
	}
    .ulBookmarHead
    {
       padding-left: 9px;
        padding: 0px 0px 10px 0px !important;
	    float:left;
	    width:auto;
	    margin:0 10px 10px 0;
        list-style:none;

        /*list-style:none;width:auto;float:left;padding:8px;margin:0**/
    }
    .pBookmarkHead
    {
        text-transform:uppercase;
	    font-family: "Verdana"!important;
        font-size: 12px;
        color: #868686 !important;
        font-weight: bold; 
        margin-bottom:20px;

    /*padding:0 0 5px 0!important;margin:0!important**/
    }
         
   
    .liAddBookmark
    {
	 margin-bottom:5px;
        font-weight:normal;
        clear:both;
        color:#696969!important;
	    font-family: "Verdana"!important;
        font-size:12px;
    }
  .aAddBookmark
  {
    cursor:pointer;
    color:#198FAF!important;
    font-weight:normal;
    margin-bottom:20px;
  }
  .aBookmarkGroup
  {
	cursor:pointer;font-size:12px;color:#536173;
	font-weight:normal;
	font-family:Verdana;
}
 #BookmarHead li a
    {
         cursor:pointer;
    color:#536173;;
    font-weight:normal;

    }
.aBookmarkEdit
{
cursor:pointer;margin-right:10px;	
}
.aBookmarkDelete
{
	
}
  #ms-help
  {
      display:none;
  }
/***BANNER LINKS***/
#signInAs
{
	list-style: none!important;
	height:35px !important;
	/* Rounded Corners */	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:#3B4F65;
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
	position:relative;
}
.ms-srchnav-item
{
	padding-right:15px;
}
/****search***/
.styled-select {
  /* width: 240px;*/
   /*height: 34px;*/
   overflow: hidden;
   /*background: url(/images/Icon-DownArrow.png) no-repeat right white!important;*/
  /** border: 1px solid #ccc;*/
  display:table-cell;
   }
.styled-select select {
   background: transparent;
  /* width: 268px;*/
  	/*padding-top: 5px;*/
  margin-top:0;
   border: 0;
   border-radius: 0;
   /*height: 34px;*/
   -webkit-appearance: none;
   }
.ms-srchnav-list
{
	font-size: 8.5px;
vertical-align: middle;

}
#ctl00_PlaceHolderSearchArea_g_81e90696_f647_491d_8355_964c2757a26a_SRCHNAV
{
	margin-top:5px;
}
#searchInputBox

{
	margin-top:15px;
	float:left;
/*	margin-left:50px;*/
	margin-left:5px;
	display: table;
	width:550px;
}
.ms-srchnav-item
{
	width:100%;
	margin:2px 2px 2px 2px;
}
#SearchBox
{
	/*margin-right:20px;*/
   margin-top:10px;
}
/*search icon for iphone*/
.ms-srch-sb-searchLink {
    cursor: pointer;
    vertical-align: top;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    display: inline-block;
    z-index: 999999;
    /*top: -25px!important;   
    left: 210px!important;*/
    }
.ms-srch-item-path {
	padding:5px!important;
}
.ms-srch-item-summary {

width:72%;
}
#LexisNexisOuterSearchBox
{
 display:table-cell;
 margin-left:30px;

}
#LexisNexisInnerSearchBox
{
	 display:table;
}
#LexisDropDown
{
	display:table-cell;
}
#companyRadio,#tickerRadio
{ font-family:Verdana!important;
font-size:12px!important;
vertical-align:top;
color:#777;
}
#lxselect
{
	margin-right:10px;
}
#searchImg
{
	vertical-align: middle;
}
#LexisEnterText
{
border: 2px solid #2CB6C0;
float:left;	
}
#searchkey
{
	border:0;
	height:19px;
}

#ctl00_PlaceHolderSearchArea_SmallSearchInputBox1_csr_sboxdiv
{	width: 250px;
	border: 2px solid #2CB6C0;
	margin-right:15px;
	/*position: absolute;
	left: 300px;*/	
}
#ctl00_PlaceHolderSearchArea_SmallSearchInputBox1_csr_sbox
{
	width:80%;
}
/***featured content background***/
#scriptWPQ3
{
 background:#F1F2F5;
}
/**tabs/***/
.ui-widget-header{
background:gray;
}

/***accordian featured links***/
#accordion {
    list-style: none;
    padding:20px 20px 20px 0;

}
#accordion ul {
    list-style: none;
    padding: 0 0 0 0;
}
#accordion ul{
    display: none;
}
#accordion a {
    text-decoration: none;
}
#accordion a:hover {
    text-decoration: underline;
}
.accordianFeatureLinksLi
{
margin-bottom:10px;	
}
.divFeatureLinkGroupName
{
	padding-top:5px;font-family:verdana;
	font-size:14px;
	display: block;
    font-weight: bold;
    margin: 1px;
    cursor: pointer;
    padding: 5 5 5 7px;
    list-style: circle;
    color:#222222;
}
.ulFeatureLink
{
	margin-left:10px;
}
.liFeatureLink
{
	padding-bottom:10px;margin-left:15px;
	margin-top:10px;
	font-weight: normal;
    cursor: auto;
    padding: 0 0 0 7px;
}
.aFeatureLink
{
	font-family:verdana;color:#48494B!important;/**#78797A**/
	font-size:13px;
}
/**---------------------**accordian featured links end ***------------------------------------*/
#s4-titlerow
{
width:85%;

 /**margin-top:-20px;
margin: auto;**/
}
#s4-bodyContainer
{
 padding-bottom:0;
 background-color:#1099C1;
 /*margin-bottom:15px;*/
}
#middleConetntDiv
{
/**margin:10px 20px 20px 20px;
float:left;
width:90% !important;**/
}
#megaMenuDiv
{
 padding-bottom:50px;/**margin:0 20px 0 20px;**/
}
#DeltaPlaceHolderPageTitleInTitleArea
{
	text-transform:uppercase;
	font-family: "Verdana"!important;
	font-size:15px;
	color:#262626;
	font-weight:200;
	padding:0;
	margin:0;
}
#sideNavBox 
{
 /**margin-left:25px!important;**/
 width:80%;
}
#box
{
  width:100%;
/*  margin:auto;**/
/**margin:10px 20px 10px 20px;**/
}
#leftContentDiv
{
	width:25%;
}
 /****LEFT NAVIGATION ************/
 .ms-core-listMenu-item {
  /*  background-color: #ECEDF1 !important;*/
 
}
 
li.selected
 {
	/*background:red;*/
}
	#s4-leftpanel-content{
background-color:red!important;
}
/****left nav****/
.ms-core-listMenu-verticalBox
{
	background:#F4F4F7;/**#ECEDF1;**/
	/*font-weight:bold;*/
	/**border-bottom:3px #C7C7C7 solid;**/
	font-family:verdana!important;
	font-size:13px!important;
	color:#48494B!important;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item,.ms-core-listMenu-verticalBox li.static > ul.static > li.static > .ms-core-listMenu-item
{
	color:#48494B!important;
	font-weight:bold;
	font-family:verdana!important;
	font-size:14px!important;
	padding:10px;

}
.ms-navedit-editSpan
{
	display:none;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected,.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected:hover
{
	background:#DDD;/**#B9BBBE;**/
	border-left:8px #EA8525 solid;
}
#Announcetable{
	/*margin-top:50px;*/
	margin-left:20px;
}
.homeHeader
{
	background-color: transparent;
color: #536173;padding:10px 0 10px 5px; font-size:22px; font-weight:100; margin-bottom:15px;
	width:92%;
	font-family: "Verdana"!important;
	color:#536173;	
	margin-left: 10px;
	margin-top: 10px;
	/*position:absolute;
	margin-top: -48px;*/
}
.pageHeader
{
	background-color:#DDDDDD;padding:10px 0 10px 5px; font-size:22px; font-weight:100; margin-bottom:15px;
	width:100%;
	font-family: "Verdana"!important;
	text-align:left;color:#536173;
}
.pageNameHeader
{
	font-size:22px; 
	font-weight:100; 
	width:100%;
	font-family: "Verdana"!important;
	text-align:left;
	color: white;
	/*height:25px;
	background-color:#80E3f0;*/
	margin-bottom:15px;
	padding:10px 0 10px 5px;
	/*margin-top: -30px;*/
	margin-left:10px;
}

#titleAreaBox
{
	margin:0px;
}
/***********library vieww****/
/****display none for article div from page layout***/
/**div.article
{
	display:none;
}**/
#dvDocuments
{
	padding-left:2px;clear:both;
}
.clsdocLib
{
	font-size:16px;font-weight:bold;color:#1C86CF;
	text-align:left;width:100%;margin-right:25px;padding-bottom:15px;
	/*display:inline-block;*/

}
.#my_Vote
{
	color:#DDDDDD;background:#DDDDDD;height:4px;border:0px;
	margin-bottom:15px;
}
.clsLibName
{
border-bottom:1px #CFCFCF solid;padding-bottom:10px;padding-left:5px;	
font-size:13px;
font-family:Verdana;
}
.clsLibName,.clsLibName 
{
color:#198FAF;/***#1C86CF;**/
}
.clsdocLibDetails
{
	padding-top:10px;padding-left:5px;		font-size:14px;font-weight:normal;color:black;width:72%;float:left;
}
.clsdocLibImg
{
	padding-top:10px;padding-right:5px;float:left;
}
.spanCount
{
	color:#198FAF;/**#1C86CF;**/font-weight:bold;
	font-size:12px;
font-family:Verdana;

}
.spanTitle
{
color:black;font-weight:bold;
font-size:13px;
font-family:Verdana;
}
.spanText
{color:#666666; font-size:12px;
font-family:Verdana;
}

/*********Top nav, Links, resources , bookmarks, support, login name************/
 #suiteBarLeft    {
        background:#3B4F65!important;
    }

   
  /*****************FOOTER LINKS*******************/
  /**FOOTER***/
#FooterLinkUL/**#footerLinks ul **/
{
 color:white!important;
 width:15%;


}
a.FooterLinkLI 
{
 color:#DBDBDB;/**#E6E6E6;**/
 text-transform:none;
  text-decoration:none;
 font-weight:normal;
  padding-bottom:0;
  cursor:pointer;
  padding:2px;
    font-family: "Verdana"!important;
    font-size:12px;
    font-weight:normal;
}
a.FooterLinkLI:hover
{
	color:orange;
}
/*li.BannerLinkLI 
{
 color:black;
 text-transform:none;
 font-weight:normal;
  padding-bottom:0;
  cursor:pointer;
  padding:2px;
  font-size:13px;
  
  font-family:Arial, Helvetica, sans-serif;


}*/
#footerLinks
{
	width:100%;margin:auto; overflow:hidden;
}
  .ulFooterLinks
  {
	 padding-left: 0;
        padding: 0px 0px 10px 0px !important;
	    /*float:left;*/
	    width:auto;
	    margin:0 30px 0 0;
        list-style:none;
}
.pUlFooterLinks
{

	cursor:default;	
		text-transform:uppercase;
	   font-family: "Verdana"!important;
        font-size: 12px;
        font-weight: bold; 
        margin-bottom:25px;
         color:#DEE9F5;
	    
}
/*******content feed****/
.divContentCategory
{
	display: block;
	font-weight: bold;
	cursor: pointer;
	list-style:none;
	padding: 20px 20px 20px 0;
}
.ContentCategoryRefinerLI
{
	margin-left:5px;
	display: inline;
	font-family: "Verdana"!important;
	font-size:13px;
	
	padding-bottom:10px;
	font-weight: normal;
    cursor: auto;
    margin-top:10px;
}
.aContentCategoryRefinerLI
{
	font-family:verdana;color:#48494B!important;/**#78797A**/
	font-size:13px;

}
.ContentCategoryRefinerDIV
{
	margin-bottom:10px;
}
/*******************Announcements******************/
.pTdAnnouncements
{
	font-family: "Verdana"!important;
	cursor:pointer;font-weight:600;color:#198FAF;font-size:14px!important;/***2CB6C0**/
	display: inline;margin:0;

}
.pAnnouncementSourceSite
{
	font-family: "Verdana"!important;
	font-weight:normal;color:#939393;font-size:12px;margin:0;
	padding:5px 0 5px 0;
	}
.pAnnouncementDesc
{
	font-family: "Verdana"!important;
	font-size:12px!important;display: inline;
}


/******************POLL***********************/
#pollContainer
{ padding:20px;
}
#Question
{
	padding-bottom:10px;
	font-family:verdana;
	font-size:14px;
    font-weight: bold;
    margin: 1px;
    cursor: pointer;
    padding: 5 5 5 7px;
    list-style: circle;
    color:#222222;
	
}
#Answers
{
	background:#ECEDF1;
	padding-bottom:10px;margin-left:15px;
	margin-top:10px;
	font-weight: normal;
    cursor: auto;
    padding: 0 0 0 7px;
	font-family:verdana;color:#48494B!important;/**#78797A**/
	font-size:13px;

}
#Answers input
{
	margin: 7px;
margin-left: 0;
}
#my_Vote
{
margin: 7px 7px 7px 6px;
background:#3B4F65;	
border:0;
color:white;
font-size:14px;
}
#Previous
{
	float:left;
}
#Next
{
	float:right;
}

/*******Subscriptions****/
#mySubscriptionContainer
{
	 padding:20px;
}
.aSubscription  
{
	font-family:verdana;color:#48494B!important;/**#78797A**/
	font-size:13px;

}
.trSubscription
{
		background:#ECEDF1;
	padding-bottom:10px;
	margin-top:10px;
	font-weight: normal;
    cursor: auto;
}
.hrDoc
{
	color:#DDDDDD;background:#DDDDDD;height:4px;border:0px;
	margin-bottom:15px;
}

/****refinement panel search center results****/
/*#Refinement
{
	margin-top: 25px;
}*/
*/
.ms-ref-refinername
{
	color: #536173!important;font-family: verdana !important;font-size: 13px!important;
}
.ms-srch-hover-actions
{
	 background:#3B4F65!important;

}
.ms-calloutLink
{
	text-decoration:none!important;
	    color:#DEE9F5!important;

}
.searchHoverData
{
	color:#939393;
	 font-size:11px;
}
.searchHoverDataConatiner
{
	margin-bottom:5px;
	font-size:12px;
	font-family:Verdana;
	margin-top:2px;
}
.highlightedSummary
{
	font-size:12px;
	font-family:Verdana;
	margin-top:2px;

}

/***********Subsite Home Page CSS for Top COntent *************/
.ms-srch-item-path
{
	width:60%
}
.searchDetail
{
	display:block!important
}

/*trial*/
/*in top content iphone hid copy link*/
.copy{
	display:none!important;
	width:10%!important
}
.share{
	width:30%!important
}
.download{
	width:35%!important
}
.email{
	width:25%!important
}
/*for giving space between edit and delete in callout */
.aBookmarkDelete{
	padding-right:10px!important
}

/* TopContent Page Styling in Mobile */
.top-content-page #ms-designer-ribbon { display: none; }
.top-content-page .masthead .wrap.push { padding: 0; }
.top-content-page #s4-bodyContainer { margin-bottom: 0; }
.top-content-page #box.wrap { padding: 0; overflow: hidden; box-sizing: border-box; }
.top-content-page #main #middleConetntDiv { width: 100%; }
.top-content-page .welcome.blank-wp { padding: 0; }
.top-content-page .welcome.blank-wp .welcome-content { margin: 0; }
.top-content-page .ms-rtestate-field { display: block; }
.top-content-page .ms-rtestate-field .pageNameHeader {
	margin: 0;
	text-align: center;
	border-bottom: 1px solid #000;
	font-family: "Helvetica"!important;
	font-size: 20px; padding: 10px;
	box-sizing: border-box;
	background-color: #1099C1;
}
.top-content-page .ms-rtestate-field .hrDoc { display: none; }
.top-content-page #footer { width: 100% !important; margin-left: 0; }
.top-content-page #s4-titlerow {
	width: auto;
	height: auto;
	padding: 0;
	
}
.top-content-page #drawerIcon { display: block; margin: 0; }
.top-content-page #drawerNavBotton img { width: 22px; height: 22px; }
.top-content-page #siteIcon { /*display: none;*/ }