﻿/*
 *  File:         News.css
 *  Author:       L&T Infotech
 *  Language:     CSS

    Modification Date       Modified By         Comments    
    29 - Jul- 2014          L&T Infotech        First Release
*/

/*****multi select****/
.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection {
    border-bottom: 1px solid #EEE;
    padding: 2px 5px;
    background-color: #FFF;
    color: #536173;
    font-family:"Roboto";
    font-size:12pt;
}

.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover {
    cursor: pointer;
    text-decoration: none;
    background: none repeat scroll 0% 0% #DDD;
    color: #536173;
}

/*****AdSpace button UI***/
.button
{
	margin: 7px 7px 7px 6px;
	background:#3B4F65;	
	border:0;
	color:white;
	font-size:12pt;
	font-family:"Roboto";
	cursor:pointer;
    padding:10px;
}

.button:hover
{
	background:#3B4F65;	
	cursor:pointer;	
}

.leftsection
{
font-family:"Roboto";font-size:12pt!important;padding-bottom:5px;font-weight:bold;text-align:left;vertical-align:top;color:#536173;/**3B4F65**/
	
}

.rightsection
{
text-align:left;
font-family:"Roboto";font-size:12pt!important;
color:#536173;	
}

#dvMessage
{
color:#536173!important;/*#3B4F65;*/
font-family:"Roboto!important";font-size:15px!important;font-weight:normal!important;	
}

.rssTitle
{   font-size: 14pt;    
    color: #008bbb;
    vertical-align: top;
    font-family:"Roboto";
    font-weight:bold

}

.rssTitle a
{   font-size: 14pt;   
    color: #008bbb;
     font-family:"Roboto";
text-decoration: none;
font-weight:bold
   }

.rssTitle a:hover
{
	font-size: 14pt;    
    color: #008bbb;
     font-family:"Roboto";

}

.rssTitle a:visited
{color:#008bbb}

.rssImage {
    vertical-align: top;
    width:20%;
    
}

.rssDate {
    
padding-left: 11pt;
font-family: "Roboto";
       
font-weight: normal;
color: #777777;
font-size: 12pt;
margin: 0;
display: inline-block;

}

.rssBody {

    font-size: 13pt;
    font-weight: normal;
    vertical-align: top;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 5px;
    color: #222222;
     font-family:"Roboto";
     display:inline-block;
}

.rssBodyNoImg
{
 font-size: 13pt;
    font-weight: normal;
    vertical-align: top;
    padding-bottom: 10px;

    padding-top: 5px;
    color: #444;
     font-family:"Roboto";
     display:inline-block;
}

.rssDateNoImg
{
font-family: "Roboto";
       
font-weight: normal;
color: #939393;
font-size: 12pt;
margin: 0;
display: inline-block;
}

.rssTitleNoImg
{
 font-size: 14px;
    font-weight: bold;
    color: #198FAF;
    vertical-align: top;
    padding-bottom: 7px;
    font-family:"Roboto";
font-size: 14px;
}

.rssTitleNoImg a:visited
{color:#198FAF!important;}

.rssRootnodes {
    color:#3a4d64 !important;
    font-size: 14pt !important;
    font-weight: bold;
     font-family:"Roboto";
     padding-bottom:10px;
}

.rssLeafnodes {
    font-size: 13pt !important;
    color: #666666;
     font-family:"Roboto";
     padding-bottom:10px;
    }

.rssSelectedNode{
	 color: #2CB6C0;

}

.tdpartition {
    border-left: 0.2px solid #E2E2E2;
}
.treeViewContainer
{
    width:23.5%;vertical-align:top

}
.span
{color:red;}

.rssViacomTitle
{   
    font-family: "Roboto" !important;
    cursor: pointer;
    font-weight: bold;
    color: #198FAF;
    font-size: 14pt !important;
    display: inline;
    margin: 0px;
    vertical-align: top;
    margin-bottom:10px;
    margin-top: 10px;

   
    
}

.rssViacomTitle a, .rssViacomTitle a:hover
{   font-size: 14pt;
    text-decoration:none;
    color: #008bbb;
     font-family:'Roboto';
   
   }

.rssViacomDate {
    font-family: "Roboto" !important;
font-weight: normal;
color: #777777;
font-size: 11pt;
margin: 0;
padding: 5px 0px;
display: inline-block;
}

.rssViacomBody {
    font-family: 'Roboto';
    font-size: 13pt;
    font-weight: normal;
    vertical-align: top;
    padding-bottom: 10px;   
    padding-top: 5px;
    color: #222222;
display:inline;
}

.drpDownContainer
{
    padding-bottom:10px;
}

#drpdwnlst, #drpdwnlst option
{
	border:0px;
	font-size:12pt;
	color: #3A4D64 !important;
	
}
.dvSeperator
{
    border-bottom:0.2px solid #E2E2E2;padding-top:5px
}
#drpdwnlst option
{

	border:0px;
}

#tdExternalNews
{padding-top:26px;vertical-align:top;padding-left:22px;width:76.5%}

.fullWidth
{
    width:100%
}
.btnContainer
{text-align:right;padding-top: 10px;padding-bottom: 10px;}
